@import '../utils/mixins';
@import '../utils/variables';

// all h1
.main-about,
.main-contact,
.main-projets{
    h1, h2{
        font-family: 'Shrikhand', serif;
    }
}
//home
.main-home{
    h1{
        font-size: 13rem;
        @include tablet{
            font-size: 30rem;
        }
        @include ordi{
            font-size: 40rem;
        }
    }
}
//about
.main-about{
    & .name{
        font-weight: 500;
    }
    & .text-p{
        text-align: center;
    }
}
//isTyping
.isTyping{
    span{
        font-size: .9rem;
    }
}
//projet
.main-projets{
    .details{
        h2{
            text-transform: capitalize;
        }
        p{
            font-weight: 300;
        }
        .btn-details{
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    & .hosted,
    & .local{
        text-transform: capitalize;
    }
}
//contact
.main-contact{
    label{
        text-transform: capitalize;
    }
}