@import '../utils/variables';
@import '../utils/mixins';

.head{
    h1{
        font-size: .5rem;
        padding: nth($padding, 1);
        @include tablet{
            font-size: .7rem;
        }
    }
    & .projets {
        font-size: 27px;
        padding: 5px;
    }
}