//main color

$primary: #0F2027;
$secondary: #203A43;
$third: #ffd452;

$header: #22c1c3;
$white-color: #FFFFFF;
$black-color: #000000;

//Breakpoints

$breakpoints: (
    tablet: 768px,
    ordi: 1440px
);

$margin: 5px 10px 15px 20px;
$padding: 5px 10px 15px 20px;