@import '../utils/variables';
@import '../utils/mixins';

.main-about{
    margin: 10vh 0 2vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: nth($gap, 4)*2.5;
    & .about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: nth($gap, 4)*1.25;
        img{
            @include imagePages;
        }
        p {
            word-break: break-word;
            text-align: left;
            white-space: pre-wrap;
            width: 80%;
            @include largeOrdi {
                width: 61%;
            }
        }
    }
    & .section-skills {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: nth($gap, 4)*1.5;
        padding-top: nth($padding, 4);
        width: 100%;
        img{
            @include imagePages;
        }
        & .cards {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 100%;
            gap: nth($gap, 4)*1.5;
            @include tablet {
                width: 90%;
                flex-direction: row;
                gap: 0;
            }
            @include largeOrdi {
                width: 70%;
            }
            & .first--cards,
            & .second--cards,
            & .third--cards {
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: nth($gap, 2)-3;
                @include tablet {
                    width: 25%;
                    gap: nth($gap, 2);
                }
            }
        }
    }
    & .presentation{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: nth($padding, 4)*2.5;
        width: 80%;
        @include largeOrdi{
            width: 61%;
        }
    }
}
