@import '../utils/variables';
@import '../utils/mixins';
@import '../keyframes/animations';

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 10vh;
    transition: .4s;
    width: 100%;
    padding: nth($padding, 4);
    & .footer-box{
        text-align: center;
        & .footer-link{
            padding: nth($padding, 1);
        }
    }
}
